-add_title @gem_display.name
%h2
  = :by_authors.l authors: @gem_display.authors
  .small
    = :version.l
    = @gem_display.version

%p= @gem_display.info

- add_tab :description.l, 'description' do
  = @gem_display.description
- if @gem_display.features.present?
  - add_tab :features.l, 'features' do
    = @gem_display.features
- if @gem_display.readme.present?
  - add_tab :readme.l, 'readme' do
    = @gem_display.readme
- if @gem_display.license.present?
  - add_tab :license.l, 'license' do
    = @gem_display.license
= render_tabs 'left'

%h3= :downloads.l
.label.label-info
  = @gem_display.downloads
  = '(' + @gem_display.version_downloads.to_s + ' ' + :for_this_version.l + ')'

%h3= :links.l
= nav_list class: 'nav-pills' do
  - if @gem_display.project_uri.present?
    = nav_item :project.l, @gem_display.project_uri
  - if @gem_display.homepage_uri.present?
    = nav_item :homepage.l, @gem_display.homepage_uri
  - if @gem_display.wiki_uri.present?
    = nav_item :wiki.l, @gem_display.wiki_uri
  - if @gem_display.documentation_uri.present?
    = nav_item :documentation.l, @gem_display.documentation_uri
  - if @gem_display.mailing_list_uri.present?
    = nav_item :mailing_list.l, @gem_display.mailing_list_uri
  - if @gem_display.source_code_uri.present?
    = nav_item :source_code.l, @gem_display.source_code_uri
  - if @gem_display.bug_tracker_uri.present?
    = nav_item :bug_tracker.l, @gem_display.bug_tracker_uri