%p#notice= notice
%p
  %b Name:
  = @gem_display.name
%p
  %b Info:
  = @gem_display.info
%p
  %b Version:
  = @gem_display.version
%p
  %b Downloads:
  = @gem_display.downloads
%p
  %b Version downloads:
  = @gem_display.version_downloads
%p
  %b Authors:
  = @gem_display.authors
%p
  %b Project uri:
  = @gem_display.project_uri
%p
  %b Gem uri:
  = @gem_display.gem_uri
%p
  %b Homepage uri:
  = @gem_display.homepage_uri
%p
  %b Wiki uri:
  = @gem_display.wiki_uri
%p
  %b Documentation uri:
  = @gem_display.documentation_uri
%p
  %b Mailing list uri:
  = @gem_display.mailing_list_uri
%p
  %b Source code uri:
  = @gem_display.source_code_uri
%p
  %b Bug tracker uri:
  = @gem_display.bug_tracker_uri
%p
  %b Description:
  = @gem_display.description
%p
  %b Features:
  = @gem_display.features
%p
  %b Readme:
  = @gem_display.readme
%p
  %b License:
  = @gem_display.license
