-add_title @gem_display.title
-add_subtitle @gem_display.name

%h2
  = :by_authors.l authors: @gem_display.authors
  .small
    = :version.l
    = @gem_display.version

%p= @gem_display.info

%h3= :downloads.l
.label.label-info
  = @gem_display.downloads
  = '(' + @gem_display.version_downloads.to_s + ' ' + :for_this_version.l + ')'

%h3= :links.l
.btn-group
  - if @gem_display.project_uri.present?
    .btn.btn-default= link_to :project.l, @gem_display.project_uri
  - if @gem_display.homepage_uri.present?
    .btn.btn-default= link_to :homepage.l, @gem_display.homepage_uri
  - if @gem_display.wiki_uri.present?
    .btn.btn-default= link_to :wiki.l, @gem_display.wiki_uri
  - if @gem_display.documentation_uri.present?
    .btn.btn-default= link_to :documentation.l, @gem_display.documentation_uri
  - if @gem_display.mailing_list_uri.present?
    .btn.btn-default= link_to :mailing_list.l, @gem_display.mailing_list_uri
  - if @gem_display.source_code_uri.present?
    .btn.btn-default= link_to :source_code.l, @gem_display.source_code_uri
  - if @gem_display.bug_tracker_uri.present?
    .btn.btn-default= link_to :bug_tracker.l, @gem_display.bug_tracker_uri